@charset "UTF-8";
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Fonts - From Typekit
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Initial sizing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*  NOTE. html is set to 62.5% so that all the REM measurements throughout Skeleton are based on 10px sizing. So basically 1.5rem = 15px */
/*  NOTE. If normal, 100% equals 16px sizing. */
html {
  font-size: 100%; }

body {
  font-size: 1em;
  /* 16px, currently ems cause chrome bug misinterpreting rems on body element */ }

/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
/* Initial sizing - set in 'helpers' - '_variables.scss' */
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  color: #000; }

main {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0; }

a {
  transition: 0.3s;
  color: #F08F35;
  font-weight: 700; }
  a:link {
    color: #F08F35; }
  a:visited {
    color: #F08F35; }
  a:active {
    color: #F08F35; }
  a:hover {
    color: #e17511; }

.background-wrapper {
  background-color: #fff; }

.grid-container {
  max-width: 67.5rem; }

strong {
  font-weight: 700; }

.hash:before {
  content: '#'; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

/* Typography - From Skeleton.css
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700; }

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: 0; }

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.05rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

p, li {
  font-size: 1rem; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.625rem; }
  h2 {
    font-size: 2.625rem; }
  h3 {
    font-size: 2.25rem; }
  h4 {
    font-size: 1.875rem; }
  h5 {
    font-size: 1.5rem; }
  h6 {
    font-size: 0.9375rem; }
  p, li {
    font-size: 1rem; } }

/* Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1 {
  font-family: "futura-pt-bold", sans-serif; }
  h1.logo--hero {
    letter-spacing: -.3rem; }

h2 {
  font-family: "futura-pt-bold", sans-serif;
  text-transform: uppercase; }

h3 {
  font-family: "futura-pt-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

h4 {
  font-family: "futura-pt-bold", sans-serif; }
  h4.home--hero {
    line-height: 1.25;
    margin-bottom: 1rem; }

h5 {
  font-family: "futura-pt", sans-serif;
  font-weight: 400; }

.font--headline-large {
  font-family: "futura-pt-bold", sans-serif; }

.font--headline-small {
  font-family: "futura-pt-bold", sans-serif; }

.font--subheading {
  font-family: "futura-pt-bold", sans-serif; }

.font--standout {
  font-family: "futura-pt", sans-serif; }

.font--standout-bold {
  font-family: "futura-pt-bold", sans-serif; }

.font--contrast {
  font-family: "futura-pt-condensed", sans-serif; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5; }
  p.home--hero {
    font-family: "futura-pt-bold", sans-serif;
    font-size: 1.3rem;
    line-height: 1.2;
    padding-left: 50px;
    padding-right: 50px; }
  p.home--intro {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 2rem; }
  p.video--inpage-credit {
    font-size: 0.8rem;
    color: #737373 !important;
    text-align: right;
    margin-bottom: 0 !important; }
  p a {
    font-weight: 700; }

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul.no-bullets {
  margin-left: 0; }
  ul.no-bullets li {
    list-style: none;
    font-size: 1.2rem;
    margin-left: 0; }

ul.bullet--or {
  margin-left: 1.8rem;
  list-style: none; }
  ul.bullet--or li::before {
    vertical-align: middle;
    font-size: 24px;
    line-height: 1.2;
    color: #F08F35;
    font-weight: 700;
    content: "\2022";
    /* Unicode of character to precede the list item */
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem; }
  ul.bullet--or li:last-child {
    margin-bottom: 0; }

/* Building Block styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p {
  margin-bottom: 1rem !important; }
  p.font--intro {
    font-size: 1.2rem;
    line-height: 1.3;
    font-family: "futura-pt-bold", sans-serif;
    margin-bottom: 1rem !important; }

/* Color
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.color--or {
  color: #F08F35 !important; }

.color--bk {
  color: #000 !important; }

.color--wh {
  color: #fff !important; }

.color--or-lt {
  color: #fbdec3 !important; }

.bg--or-lt {
  background-color: #fbdec3 !important; }

/* Font family
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.font--condensed {
  font-family: "futura-pt-condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem; }

.font--bold {
  font-family: "futura-pt-bold", sans-serif; }

/* Font size
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.font--increase-sm {
  font-size: 120%; }

.font--increase-lg {
  font-size: 150%; }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.spacing--top-sm {
  margin-top: 0.75rem; }

.spacing--top-lg {
  margin-top: 3rem; }

section.area--head-main {
  background-color: #F08F35;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  section.area--head-main h1, section.area--head-main h2 {
    margin-top: 0; }
  section.area--head-main h3, section.area--head-main h4 {
    margin-bottom: 0; }
  section.area--head-main h5 {
    color: #fff; }

section.area--bg-white {
  background-color: #fff;
  color: #000;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  section.area--bg-white p {
    color: #000; }
    section.area--bg-white p:last-child {
      margin-bottom: 0; }

section.area--bg-black {
  background-color: #000;
  color: #fff;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }
  section.area--bg-black p {
    color: #fff; }

section.area--bg-orange {
  background-color: #F08F35;
  color: #000;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  section.area--bg-orange p {
    color: #000; }

section.area--bg-orange-light {
  background-color: #fbdec3;
  color: #000;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  section.area--bg-orange-light p {
    color: #000; }

.block--step {
  margin-bottom: 3rem; }
  .block--step a {
    font-weight: 700; }
  .block--step p.note {
    color: #737373;
    font-size: 90%;
    font-style: italic; }
  .block--step:last-child {
    margin-bottom: 0; }

.block--team {
  background-color: #fef8f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem; }
  .block--team .block--team-info {
    padding: 1.5rem; }

button, .button {
  font-family: "futura-pt-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 0.75rem 1.5rem;
  border-radius: 5px; }

button.button--cta-or, a.button--cta-or {
  color: #fff;
  background-color: #F08F35;
  transition-property: background-color;
  transition-duration: .3s; }
  button.button--cta-or:link, a.button--cta-or:link {
    background-color: #F08F35; }
  button.button--cta-or:visited, a.button--cta-or:visited {
    background-color: #F08F35; }
  button.button--cta-or:active, a.button--cta-or:active {
    background-color: #F08F35; }
  button.button--cta-or:hover, a.button--cta-or:hover {
    background-color: #e17511; }

button.button--cta-bl, a.button--cta-bk {
  color: #fff;
  background-color: #000;
  transition-property: background-color, transform;
  transition-duration: .3s; }
  button.button--cta-bl:link, a.button--cta-bk:link {
    background-color: #000; }
  button.button--cta-bl:visited, a.button--cta-bk:visited {
    background-color: #000; }
  button.button--cta-bl:active, a.button--cta-bk:active {
    background-color: #000; }
  button.button--cta-bl:hover, a.button--cta-bk:hover {
    transform: scale(1.1);
    background-color: #e17511; }

blockquote {
  border-left: none;
  position: relative;
  border-radius: .7em;
  font-size: 1.2rem;
  font-family: "futura-pt-bold", sans-serif;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.05); }
  blockquote cite {
    font-style: normal;
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 5px; }
    blockquote cite span.cite--person {
      font-size: 1.8rem; }
  blockquote:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom: 0;
    border-left: 0;
    margin-left: -15px;
    margin-bottom: -30px; }
  blockquote.speech--quote-or {
    padding: 1.5rem 3rem;
    color: black;
    background-color: #F08F35; }
    blockquote.speech--quote-or cite {
      color: #fff; }
    blockquote.speech--quote-or:after {
      border-top-color: #F08F35; }
  blockquote.speech--quote-bk {
    padding: 1.5rem 3rem;
    color: white;
    background-color: #000; }
    blockquote.speech--quote-bk cite {
      color: #F08F35; }
    blockquote.speech--quote-bk:after {
      border-top-color: #000; }

input:focus, textarea:focus, select:focus {
  outline: none; }

.icon--general-or {
  color: #F08F35; }

.icon--general-bk {
  color: #000; }

.icon--general-wh {
  color: #fff; }

.top-bar {
  padding: 0.75rem 1.5rem;
  font-family: "futura-pt", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.top-bar, .top-bar ul {
  background-color: #e17511; }

.top-bar a {
  color: white; }

.menu > li {
  transition-property: background-color;
  transition-duration: .4s;
  border-radius: 5px;
  background-color: #e17511;
  margin-right: 5px; }
  .menu > li:last-child {
    margin-right: 0; }

.menu > li > a {
  line-height: 1;
  padding: 0.5rem 0.35rem; }

.menu > li:hover {
  border-radius: 5px;
  background-color: #b25c0d; }

.menu .active > a, .menu .is-active > a {
  border-radius: 5px;
  background-color: #b25c0d; }

.dropdown.menu > li > a {
  padding: 0.7rem 0.7rem 0.6rem; }

.off-canvas {
  background-color: #e17511; }
  .off-canvas a {
    color: white; }

li.brand--title a {
  font-size: 2rem;
  font-family: "futura-pt-bold", sans-serif !important;
  letter-spacing: -.15rem;
  text-transform: none;
  color: #000 !important; }
  li.brand--title a:before {
    content: '#'; }

li.brand-title {
  background-color: #e17511; }

li.brand--title:hover {
  background-color: #e17511; }

footer, .footer {
  background-color: #e17511;
  margin-top: 0;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
    color: #fff; }
  footer p, .footer p {
    color: #fff; }
  footer a, .footer a {
    color: #fff; }
  footer ul li, .footer ul li {
    font-family: "futura-pt-bold", sans-serif;
    margin-bottom: 5px; }
    footer ul li i, .footer ul li i {
      color: #f5b67c; }

.foot--secondary {
  margin-top: 1.5rem; }
  .foot--secondary p {
    color: #fbdec3;
    margin-bottom: 0;
    font-size: 80%; }
  .foot--secondary a:hover {
    text-decoration: underline; }
  .foot--secondary .grid-container {
    border-top: 2px solid #f5b67c;
    padding-top: 1.5rem; }
