.top-bar {
	// border-bottom: 7px solid $color--primary-black;
	padding: $padding--small/2 $padding--small;
	font-family: $font--futura;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.top-bar, .top-bar ul {
	background-color: $color--primary-orange-dark-10;
}

.top-bar a {
	color: white;
}

.menu > li {
	transition-property: background-color;
  	transition-duration: .4s;
  	border-radius: 5px;
  	background-color: $color--primary-orange-dark-10;
  	margin-right: 5px;
  	&:last-child {
  		margin-right: 0;
  	}
}


.menu > li > a {
	line-height: 1;
	padding: 0.5rem 0.35rem;
}

.menu > li:hover {
	border-radius: 5px;
	background-color: $color--primary-orange-dark-20;
}

.menu .active > a, .menu .is-active > a {
	border-radius: 5px;
	background-color: $color--primary-orange-dark-20;
}

.dropdown.menu > li > a {
	padding: 0.7rem 0.7rem 0.6rem;
}


// We are trying to achieve:
// 1. Title left (reduced in size for mobile?)
// 2. 'Menu' right on same level as title
// 3. Dark background and  white text
// 4. Slightly darker overlay on hover? 
// 4. Icons for all? or just instagram?
// 5. Make this universal so we can ship to other sites and becomes defacto?
// 6. Added new div for texture and applied dark colour to body

// Off Canvas
.off-canvas {
	background-color: $color--primary-orange-dark-10;
	& a {
		color: white;
	}
}


// #ForgottenLtd
li.brand--title a {
	font-size: 2rem;
	font-family: $font--futura-bold !important;
	letter-spacing: -.15rem;
	text-transform: none;
	color: $color--primary-black !important;
	&:before{
		content: '#'
	}
}

li.brand-title {
	background-color: $color--primary-orange-dark-10;
}

li.brand--title:hover {
	background-color: $color--primary-orange-dark-10;
}
