section.area--bg-black {
	background-color: $color--primary-black;
	color: $color--primary-white;
	padding-top: $padding--small;
	padding-bottom: $padding--small;
	padding-left: $padding--small;
	padding-right: $padding--small;
	& p {
		color: $color--primary-white;
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	section.area--bg-black {
		padding-top: $padding--general *2;
		padding-bottom: $padding--general *2;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	section.area--bg-black {
		padding-left: 0;
		padding-right: 0;
	}
}