section.area--head-main {
	background-color: $color--primary-orange;
	padding-top: $padding--small;
	padding-bottom: $padding--small;
	padding-left: $padding--small;
	padding-right: $padding--small;
	h1, h2 {
		margin-top:0;
	}
	h3, h4 {
		margin-bottom:0;
	}
	h5 {
		color: $color--primary-white;
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	section.area--head-main {
		padding-top: $padding--general;
		padding-bottom: $padding--general;
		padding-left: 0;
		padding-right: 0;
	}
}